<h1>Welcome Admin <%= user.name %></h1>
<a href="/campaigns">Manage Campaigns</a>
<a href="/donations">View Donations</a>
<a href="/donations/admin/all">View All Donations</a>
<a href="/auth/logout">Logout</a>

